@{
    ViewBag.Title = "FlappyBird";
    Layout = "~/Views/Shared/gameHandF.cshtml";
}

<!-- ***** Our Classes Start ***** -->

<div class="col-lg-9 op">
    @*width="950" height="500"*@
    <div class="game">
        <div id="score">
        </div>
        <div id="dino">
                
        </div>
        <div class="movement" id="cactus">

        </div>
    </div>
</div>

@*<frameset rows="10%,80%,10%">
        <frame name="top" src="/html/top_frame.htm" />
        <frame name="main" src="/html/main_frame.htm" />
        <frame name="bottom" src="/html/bottom_frame.htm" />

        <noframes>
            <body>
                Your browser does not support frames.
            </body>
        </noframes>
    </frameset>*@