/*--------------------------- Dinosour Jump Start  ----------------------------*/
.game {
  width: 700px;
  height: 250px;
  border: 1px solid black;
  margin: auto;
  background-color: white;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url(../images/d.png);
    background-size: 50px 50px;
    position: relative;
    top: 170px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 170px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 170px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 130px;
  left: 680px;

  background-image: url(../images/c.png);
  background-size: 20px 40px;
}

.movement {
    animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 680px;
  }

  100% {
    left: -20px;
  }
}
/*--------------------------- Dinosour Jump End  ----------------------------*/
/*--------------------------- Flappy Bird Start  ----------------------------*/

/*--------------------------- Flappy Bird End    ----------------------------*/